<script async src="https://www.googletagmanager.com/gtag/js?id=&#91;&#91;ga-id&#93;&#93;"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', '&#91;&#91;ga-id&#93;&#93;');
</script>

<!-- 

EXAMPLE TEMPLATE USAGE
======================

"template-name": {
    "...": "...",
    "component-name": "https://statik-site.com/components/google-analytics.txt",
    "ga-id": "UA-12345678-9",
    "...": "..."
}

-->