<script async src="https://www.googletagmanager.com/gtag/js?id={{id}}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', '{{id}}');
</script>

<!-- 

EXAMPLE TEMPLATE USAGE
======================

"component-name": {
    "template": "https://statik-site.com/components/google-analytics.handlbars.txt",
    "engine": "handlebars",
    "data": "path/to/data.json"
}

EXAMPLE JSON
============
	
{
	"id": "UA-12345678-9"
}

COMPILED EXAMPLE
================

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12345678-9"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-12345678-9');
</script>

-->