<!DOCTYPE html>
<html class="[[[[]]htmlClass[[]]]]" lang="[[[[]]language&#124;&#124;en[[]]]]">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	[[[[]]head[[]]]]
</head>
<body>
	[[[[]]body[[]]]]
</body>
</html>

<!--

EXAMPLE TEMPLATE USAGE
======================

"template-name": {
	"content": "https://statik-site.com/components/html.txt",
	"htmlClass": "standard",
	"language": "fr",
	"head": {
		"content": "path/to/head",
		"...": "...",
	},
	"body": {
		"content": "path/to/body",
		"...": "...",
	}
}

-->