<!DOCTYPE html>
<html class="&#91;&#91;htmlClass&#93;&#93;" lang="&#91;&#91;language||en&#93;&#93;">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	&#91;&#91;head&#93;&#93;
</head>
<body>
	&#91;&#91;body&#93;&#93;
</body>
</html>

<!--

EXAMPLE TEMPLATE USAGE
======================

"template-name": {
	"html": "https://statik-site.com/components/html.txt",
	"htmlClass": "standard",
	"language": "fr",
	"head": "path/to/head",
	"body": "path/to/body"
}

-->