{{#if stylesheet}}
	<link rel="stylesheet" type="text/css" href="{{stylesheet}}">
{{/if}}

<table class="{{#if tableClass}}{{tableClass}}{{/if}}">
	<tbody>

	{{#each head}}
		<tr>
		{{#each this}}
			<th class="{{@key}}">{{this}}</th>
		{{/each}}
		</tr>
	{{/each}}
	
	{{#each body}}
		<tr>
		{{#each this}}
			<td class="{{@key}}">{{this}}</td>
		{{/each}}
		</tr>
	{{/each}}
	
	</tbody>
</table>

<!-- 

EXAMPLE JSON
============
	
{
	"stylesheet" : "css/table.css",
	"tableClass" : "hello world",
	"head": [
		{
			"name": "NAME",
			"age": "AGE",
			"height": "HEIGHT"
		}
	],
	"body": [
		{
			"name": "Paul",
			"age": 35,
			"height": 183
		},
		{
			"name": "Bob",
			"age": 33,
			"height": 173
		},
		{
			"name": "Mike",
			"age": 31,
			"height": 181
		},
		{
			"name": "Andrew",
			"age": 44,
			"height": 180
		}
	]
}

COMPILED EXAMPLE
================

<link rel="stylesheet" type="text/css" href="css/table.css">
<table class="hello world">
	<tbody>
		<tr>
			<th class="name">NAME</th>
			<th class="age">AGE</th>
			<th class="height">HEIGHT</th>
		</tr>
		<tr>
			<td class="name">Paul</td>
			<td class="age">35</td>
			<td class="height">183</td>
		</tr>
		<tr>
			<td class="name">Bob</td>
			<td class="age">33</td>
			<td class="height">173</td>
		</tr>
		<tr>
			<td class="name">Mike</td>
			<td class="age">31</td>
			<td class="height">181</td>
		</tr>
		<tr>
			<td class="name">Andrew</td>
			<td class="age">44</td>
			<td class="height">180</td>
		</tr>
	</tbody>
</table>

-->
